.cart{
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.cart-div {
    color: grey;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.checkout-btn {
    background-color: #EFD5E0;
    color: #0056B3;
}
.checkout-btn:hover{
    cursor: pointer;
    background-color: green;
}