.review-div{
    display: flex;
}
@media (max-width:768px) {
    .review-div{
        display: block;
        width: 100%;
    }
}

.img-div img{
    
    height: 500px;
    margin-bottom: 20px;
}
@media (max-width:768px) {
    .img-div img {
        height: 220px;
        width: 220px;
        margin-left: -120px;
    }
}
@media (max-width:768px) {
    .text {
        margin-left: -40px;
    }
}

.img-div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top:0;
}

.review-input{
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
}
@media (max-width:768px) {
    .review-input {
        display: block;
        margin-left: 150px;
    }
    .review-input textarea {
        margin-left: -120px;
        height: 50px;
        border-style: solid;
        border-width: 2px 10px 4px 10px;
        border-color: #F2DBE1;
    }
}

.submit-btn{
    margin-right: 220px;
    margin-top: 10px;
    height: 30px;
}

.submit-btn:hover{
    cursor: pointer;
    background-color: #F4DBE1;
}
@media (max-width:768px) {
    .submit-btn {
        border-style: solid;
        border-width: 2px 10px 4px 10px;
        border-color: #F2DBE1;
    }
}

.display-review{
    height: 100%;
    width: 700px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 30px;
    border-style: solid;
    border-width: 2px 10px 4px 20px;
    border-color: #F2DBE1;
}

@media (max-width:768px) {
    .display-review {
        width: 100vw;
        margin-left: 8px;
    }
}
 .review-btn {
    margin-right: 5px;
    margin-bottom: 20px;
 }
 .review-btn:hover{
    cursor: pointer;
    background-color: #F4DBE1;
}

.edit-box {
    margin-bottom: 15px;
}