.review-div{
    display: flex;
    // background-color: #F3DCE2;
}
@media (max-width:768px) {
    .review-div{
        display: block;
        width: 100%;
    }
}

.review-img-div img{
    height: calc(100vh - 185px);
    // width: 40%;
    margin-bottom: 20px;
    // background-color: #F2DBE1;
    // margin-right: 100px;
    position: fixed;
    // top: 60;
    left: 0px;
}
.review-img {
    margin-right: 50px;
}
@media (max-width:768px) {
    .review-img-div {
        // height: 220px;
        // width: 220px;
        // margin-left: -120px;
        display: none;
    }
   
}

.text {
    margin-left: 300px;
}
@media (max-width:768px) {
    .text {
        margin-left: -40px;
    }
}


.review-input{
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    // margin-right: -300px;
}
@media (max-width:767px) {
    .review-input {
        display: block;
        margin-left: 115px;
    }
    .review-input textarea {
        margin-left: -120px;
        height: 50px;
        border-style: solid;
        border-width: 2px 10px 4px 10px;
        border-color: #F2DBE1;
    }
}
.submit-btn{
    margin-right: 220px;
    margin-top: 10px;
    height: 30px;
}

.submit-btn:hover{
    cursor: pointer;
    background-color: #F4DBE1;
}
@media (max-width:768px) {
    .submit-btn {
        border-style: solid;
        border-width: 2px 10px 4px 10px;
        border-color: #F2DBE1;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
}

.display-review{
    height: 100%;
    width: 700px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 400px;
    margin-right: 30px;
    // background-color: #F3DCE2;
    border-style: solid;
    border-width: 2px 10px 4px 20px;
    border-color: #F2DBE1;
}

@media (max-width:768px) {
    .display-review {
        width: 80vw;
        margin-left: auto;
    margin-right: auto;
    align-items: center; 
    }
}
 .review-btn {
    margin-right: 5px;
    margin-bottom: 20px;
 }
 .review-btn:hover{
    cursor: pointer;
    // background-color: #F4DBE1;
}

.edit-box {
    margin-bottom: 15px;
}